<div style="margin-right:3px" class="p-0" >
  <table>
    @if (showOra) {
      <tr>
        <td style="color: maroon; font-weight: bold; font-size: 22px; text-align: center">@strOra</td>
      </tr>
    }
    @if (showData){
      <tr>
        <td style="color: maroon; font-weight: bold; font-size: 12px; text-align: center">@strData</td>
      </tr>
    }
  </table>
</div>

@code {

}
