<style>
  .cacca {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #toast_default .e-meeting::before {
    content: "\e705";
    font-size: 17px;
  }

  .bootstrap4 #toast_default .e-meeting::before {
    content: "\e763";
    font-size: 20px;
  }
</style>

<div class="cacca">
  <div class="p-1" >
    <a href="/" title="IP Address: @_clientInfo.IPAddress"><img src="images/logo.png" width="48" height="48" /></a>
  </div>
  <div class="p-2">
    <a class="navbar-brand" href="/" >WebFeste - @_UserInterfaceService.ArchFesta.Associazione</a>
  </div>
  <div class="p-2">
    <div id="myToolbar"></div>
  </div>
</div>


@code {

}
